<div class="row">
  <div class="small-16 columns">
    <h2 class="site-title">Brian Lundin</h2>
    <h4 class="site-subtitle">Writer and storyteller</h4>
  </div>
</div>
<div class="row show-for-medium-up">
  <div class="medium-16 columns">
    <hr class="show-for-medium-up small-margin-hr" />
    <p class="bio-text">Brian Lundin is the Lead Writer &amp; Story Team Producer at The Austin Stone Community Church. Brian is a storyteller, writer and geek who is passsionate about sharing stories of gospel transformation.</p>
  </div>
</div>
<div class="row">
  <div class="small-16 medium-16 columns">
    <hr class="small-margin-hr" />
    <div class="row">
      <div class="small-5 medium-16 columns">
        <a href="/" class="header-link">Posts</a>
      </div>
      <div class="small-5 medium-16 columns">
        <a href="/about.html" class="header-link">About</a>
      </div>
      <div class="medium-16 columns show-for-medium-up">
        <a href="http://storyteam.org" class="header-link">Storyteam.org</a>
      </div>
      <div class="small-6 medium-16 columns">
        <a href="http://code.brianlundin.com/" class="header-link">Programming</a>
      </div>
      <div class="small-8 medium-16 columns show-for-medium-up">
        <a href="http://code.brianlundin.com/apps/quickgrades/index.html" class="header-link">My Apps</a>
      </div>
    </div>
  <hr class="small-margin-hr" />
  </div>
</div>