<head>
  <meta charset="utf-8">
  <script src="https://use.typekit.net/jcp7azu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="updated" content="2016-11-09" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
</head>
