<div class="row">
  <div class="small-16 columns">
    <h2 class="site-title">Writer Collective</h2>
    <h4 class="site-subtitle">
      Lindsay Funkhouser<br/>
      Brian Lundin<br/>
      Anna Sargeant
    </h4>
  </div>
</div>
<div class="row show-for-medium">
  <div class="medium-16 columns">
    <hr class="show-for-medium small-margin-hr" />
    <p class="bio-text">writers of fiction podcasts, YA stories, and contemporary fiction.</p>
  </div>
</div>
<div class="row">
  <div class="small-16 medium-16 columns">
    <hr class="small-margin-hr" />
    <div class="row">
      <div class="show-for-small hide-for-medium small-4 columns">
        <a href="/" class="header-link">Home</a>
      </div>
      <div class="show-for-medium hide-for-small medium-16 columns">
        <a href="/" class="header-link">Home</a>
      </div>
      <div class="small-4 medium-16 columns">
        <a href="/bios.html" class="header-link">Bios</a>
      </div>
      <div class="small-4 medium-16 columns">
        <a href="/about.html" class="header-link">About</a>
      </div>
      <div class="small-4 medium-16 columns">
        <a href="mailto:atxwritercollective@gmail.com" class="header-link">Contact</a>
      </div>
    </div>
  <hr class="small-margin-hr" />
  </div>
</div>
