<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="row">
      <div class="small-16 columns">
        <div class="small-16 medium-4 columns">
          {% include header.html %}
        </div>
        <div class="small-16 medium-12 columns">
          <div class="row content">
            <div class="small-16 columns content">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <footer class="row">
        <div class="small-16 medium-12 medium-centered large-9 large-centered columns">
          {% include footer.html %}
        </div>
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>
